#content
  #work
    %span
      n(ow!): Developer @
    %span
      %a{:href => "http://new-bamboo.co.uk"}New Bamboo
  #work
    %span
      n-1: Senior Software Engineer @
    %span
      %a{:href => "http://www.bbc.co.uk"}BBC
    %span
      %a{:href => "http://www.bbc.co.uk/iplayer"}iPlayer
  #work
    %span
      n-2: Software Engineer @
    %span
      %a{:href => "http://www.shutterstock.com"}Shutterstock
  #work
    %span
      n-3: Software Engineer @
    %span
      %a{:href => "http://www.bbc.co.uk"}BBC
    %span
      Interactive TV
  #work
    %span
      n-4: Student @
    %span
      %a{:href => "http://www.cs.bris.ac.uk"}Bristol University Computer Science
  #other
    %span
      Download C.V. (coming soon)
