#content
  #work
    %span
      Now: Senior Software Engineer @
    %span
      %a{:href => "http://www.bbc.co.uk"}BBC
    %span
      %a{:href => "http://www.bbc.co.uk/iplayer"}iPlayer
  #work
    %span
      Then: Software Engineer @
    %span
      %a{:href => "http://www.shutterstock.com"}Shutterstock
  #work
    %span
      Before that: Software Engineer @
    %span
      %a{:href => "http://www.bbc.co.uk"}BBC
    %span
      Interactive TV
  #work
    %span
      Before even that: Student @
    %span
      %a{:href => "http://www.cs.bris.ac.uk"}Bristol University Computer Science 
  #other
    %span
      Download C.V. (coming soon)      
